*{
            margin:0px;
            padding: 0px;
        }
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .head{
            width: 50%;
            height: 50vh;
            border-radius: 20px;
            background-color:rgb(204, 241, 212);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        input{
            width: 30%;
            height: 20vh;
            text-align: center;
            font-size: 80px;
            border-radius: 20px;
            background-color:rgb(246, 246, 243);

        }
        button{
            width: 10%;
            height: 8vh;
            font-size: 50px;
            text-align: center;
            background-color:rgb(55, 33, 215);
            color: white;
            border-radius: 10px;
        }