@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color:black ;
    color: white;
    height: 65px;
    font-size: 30px;
    align-items: center;
    display: flex;
    padding: 0 12px;
    font-family: 'Roboto',sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    background-color: white;
    display: flex ;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto',sans-serif;
    position: relative;

}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box:hover{
    background-color: rgb(209, 169, 244);
}

.info{
    font-size: 22px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Roboto',sans-serif;

}
.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0px;
    transition: width 0.5s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0;
    padding: 3px;
    background-color: rgb(221, 189, 251);
    border-radius: 10px ;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size:  15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: rgb(6, 4, 7);
    transition: width 0.5s ease-in-out;
}

@media screen and (max-width: 800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}