*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1f2128;
}
.button {
    margin: 10px;
}
.button button{
    padding: 12px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #3b6ef6;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
}
#toastbox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding: 20px;
}
.toast{
    background: #fdfbfb;
    color: #020202;
    padding: 15px 25px;
    border-radius: 6px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 250px;
    max-width: 350px;
    position: relative;
    transform: translateX(100%);
    animation: moveright 0.5s linear forwards;
}
@keyframes moveright {
    100%{
        transform: translateX(0);
    }
}
.toast i{
    color: green;
}
.toast.error i{
    color: red;
}
.toast.invalid i{
    color: orange;
}
.toast::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
    
}
.toast.error::after{
    background: red;
}
.toast.invalid::after{
    background: orange;
}