*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #1abc9c, #16a085);
    text-align: center;
}

label{
    font-size: 18px;
    color: #ecf0f1;
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 250px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #bdc3c7;
    outline: none;
    margin-bottom: 20px;
    background: #fff;
    transition: .3s ease;
}

input:focus{
    border-color: #f1c40f;
    box-shadow: 0 0 8px rgba(241,196,15,0.4);
}

button{
    padding: 12px 18px;
    font-size: 17px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover{
    background: #e67e22;
    transform: scale(1.05);
}

p{
    margin-top: 25px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

@media (max-width: 360px){
    label{
        font-size: 16px;
    }
    input{
        width: 200px;
        font-size: 14px;
    }
    button{
        padding: 10px 14px;
        font-size: 15px;
    }
    p{
        font-size: 32px;
    }
}
