*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2128;
}

.container{
    background: #fff;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    text-align: center;
}

label{
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

input:focus{
    border-color: #3b6ef6;
}

.qrcode{
    width: 200px;
    height: 200px;
    margin: 10px auto 20px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #eee;
    background: #fafafa;
    display: none;

}

.qrcode img{
    width: 100%;
    height: 100%;
}

button{
    width: 100%;
    padding: 12px;
    background: #3b6ef6;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    background: #2e5be3;
}
