* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: #f1f2f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
label{
    font-size: 28px;
    font-weight: bold;
    color: #2f3542;
    margin-bottom: 10px;
    display: block;
}

input[type="date"] {
    padding: 12px;
    width: 250px;
    font-size: 16px;
    border: 2px solid #dcdde1;
    border-radius: 8px;
    outline: none;
    margin-bottom: 25px;
    transition: .3s;
}

input[type="date"]:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 8px rgba(30,144,255,0.3);
}

div {
    background: #fff;
    padding: 25px;
    width: 330px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

div p {
    font-size: 22px;
    margin-bottom: 10px;
    color: #2f3542;
    font-weight: 600;
}

div p:nth-child(1) {
    font-size: 22px;
    font-weight: 700;
    color: #3742fa;
    margin-bottom: 18px;
}

@media (max-width: 360px) {
    input[type="date"] {
        width: 200px;
        padding: 10px;
        font-size: 14px;
    }

    div {
        width: 90%;
        padding: 18px;
    }

    div p {
        font-size: 15px;
    }

    div p:nth-child(1) {
        font-size: 17px;
    }
}

